.App {
  text-align: center;
}

.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.formLoginDiv {
  width: 350px;
  margin: 10px auto;
}

.formLoginLabel {
  font-weight: bold;
}

.formLoginInput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

.formLoginButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.formLoginButton:hover {
  background-color: #0062cc;
}

.formLoginButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}